<form role="form" id="mailing-list">
               <p id="newsletter-text" class="macondo-text">sign up for the newsletter</p>
               <div class="row-holder">
                  <input type = "text" class = "form-control" id = "name" placeholder = "name" data-toggle="popover" data-trigger="manual" data-placement="top" data-content="Enter valid name">
                  <input type = "text" class = "form-control" id = "email" placeholder = "email" data-toggle="popover" data-trigger="manual" data-placement="top" data-content="Enter valid email">
                  <button id="submit-btn" type = "submit" class = "btn btn-macondo" >subscribe</button>
               </div>
            </form>