  <div class="row-holder" id="social-buttons">
               <a href="https://www.facebook.com/macondostudios" target="_blank" class="cf">
               <img class="social-button" src="assets/img/fbselected.png" />
               <img class="social-button top" src="assets/img/fb.png" />
               </a>
               <a href="https://twitter.com/macondo_games" target="_blank" class="cf">
               <img class="social-button" src="assets/img/twitterselected.png" />
               <img class="social-button top" src="assets/img/twitter.png" />
               </a>
            </div>