<div class="bg-no-image" alt="Macondo Games">
   <p class="macondo-text desc-text head-text">
      about us
   </p>
   <p class="macondo-text desc-text body-text">
      My love affair with video games started at a young age when my family got our first PC. Hours passed away playing late 90s classics like Doom II, Age of Empires et al. This love 
      affair persisted across the years, crossing genres and platforms.</br></br>
      The next logical step was to make video games. Armed with a master's in Computer Science I founded Macondo Games in late 2015. We are working on our first project now - American Steel, a run and gun shooter
      inspired by the likes of Contra, Metal Slug etc but with modern sensibilities and a visual aesthetic reminiscent of 1980s animated series.</br></br>
      Thanks for visiting and keep checking for updates about the game and the company.</br></br>
      Mrinal Mech </br>
      CEO/Founder </br>
      Macondo Games
   </p>
   <img class="side-img right-img" src="assets/img/mrinal.png" alt="Mrinal" />
</div>