<div class = "bg-no-image" alt="Macondo Games">
   <p class="macondo-text desc-text head-text">
      we are hiring
   </p>
   <p class="macondo-text desc-text body-text">
      </br>
      Summer 2016 Internships
   </p>
   <ul id="list">
      <li>
         <b>Animation</b>: Traditional frame by frame animation resembling late 70s/early 80s animation. Examples are 
         <a href="http://orig08.deviantart.net/6322/f/2013/248/b/a/xhm_left_640_by_grimbot-d6l67pf.gif" target="_blank">here</a> and
         <a href="img/maganim.gif" target="_blank">here</a>. Degree/diploma in animation preferable.
      </li>
      <li>
         <b>Background Art</b>: Digitally painted resembling hand-painted backgrounds from 80s animated series. 
         Examples are <a href="http://2.bp.blogspot.com/_Zb3dEBttqYk/TJIGJTo0DlI/AAAAAAAAAHM/-r8_aguYuD0/s1600/castle_0.png" target="_blank">here</a>, 
         <a href="http://farm9.staticflickr.com/8319/8045322547_8c7200e9ae_b.jpg" target="_blank">here</a> and 
         <a href="http://www.bustatoons.com/blog_images/blog_filmation_art_mountainous_region.jpg" target="_blank">here</a>.
      </li>
   </ul>
   <p class="macondo-text desc-text body-text">
      Duration: 2-3 months </br> 
      Location: Mumbai </br>
      Compensation: Industry level </br></br>
      Email resumes/portfolios to </br>
      <a href="mailto:mrinalmech@macondogames.com">mrinalmech@macondogames.com</a>
   </p>
   <div class="row-holder" id="social-career">
      <div class="fb-share-button" data-href="http://www.macondogames.com/career" data-layout="button"></div>
      <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Summer%20internships%20at%20Macondo%20Games.%20Location:%20Mumbai.%20Competitive%20stipends."></a>
   </div>
   <img class="side-img right-img" src="assets/img/painter.png" alt="Painter" />
</div>