<div class = "bg-image games-bg" alt="Macondo Games">
   <img id="as-img" src="assets/img/aslogo.png" alt="American Steel" />
   <p class="macondo-text desc-text info-text">
      2D run and gunner inspired by 80s classics like Contra, Megaman etc in a visual aesthetic reminiscent of 80s animated series like He-man, Thundercats, G.I. Joe et al.
      Visit the official site for more details as well as media such as screenshots, videos etc.
   </p>
   <a type="button" class="btn btn-macondo" id="as-btn" href="http://www.americansteelgame.com" target="_blank">official site</a>
   <img class="side-img left-img" src="assets/img/stormhammer.png" alt="Stormhammer" />
   <img class="side-img right-img" src="assets/img/nightblade.png" alt="Nightblade" />
</div>