<div class = "bg-image macondo-bg" alt="Macondo Games">
<div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
   <img id="macondo-img" src="assets/img/logo.png" alt="Macondo Games" />
   <p class="macondo-text info-text">
      We are Macondo Games, an independent video game developer currently working on our first project American Steel, a 2d run and gun platformer which combines the aesthetics of 80s animated series with the gameplay of 
      classics like Contra, Megaman et al. 
   </p>
   <a type="button" class="btn btn-macondo" id="as-btn" href="http://www.americansteelgame.com">official site</a>
   </div>
   <img class="side-img left-img" src="assets/img/magdalena.png" alt="Magdalena" />
   <img class="side-img right-img" src="assets/img/zakar.png" alt="Zakar" />
</div>